@import "../generalSettings/colors";
.footer{
    color:wheat;
    width:100%;
    // border:1px solid green;
    margin-top: 30px;
}
.footWrapper{
    width:100%;
    display:flex;
    justify-content: space-between;
    padding:30px 0px;
    // border:1px solid blueviolet;
    border-top:$nav-border;
    @media screen and (max-width:450px) {
        flex-direction: column;
        align-items: center;
    }
    &__mystyk{
        display:flex;
        flex-direction: column;
        align-items: center;
        width:50%;
        // border: 1px solid yellow;
        &__icons{
            font-size:2em;
            // border: 1px solid aqua;
            display: flex;
            justify-content: space-evenly;
            margin-top: 30px;
            &--facebook, &--instagram{
                padding: 0px 20px;
                transform: scale(1);
                transition:300ms;
                &:hover{
                    cursor:pointer;
                    transform: scale(0.9);
                }
            }
            &--facebook > a, &--instagram > a{
                display: flex;
                align-items: center;
            }
        }
    }
    &__season{
        display:flex;
        flex-direction: column;
        align-items: center;
        width:50%;
        @media screen and (max-width:450px) {
            margin-top:0px;
        }
        &__thanks{
            @media screen and (max-width:450px) {
                margin-top:25px;
            }
        }
        // border: 1px solid red;
        &__logoContainer{
            width: 200px;
            height: 100px;
            transform: scale(1);
            transition:300ms;
            &:hover{
                cursor:pointer;
                transform: scale(0.9);
            }
        }
        &__logoContainer img {
            width:100%;
            height:100%;
            object-fit: contain;
        }
    }
    &__nekros{
        width:100%;
        padding: 20px;
        text-align: center;
        font-size: 0.7em;
    }
}