@keyframes titleDisplay {
    to{
        opacity:1;
    }
}
@keyframes navApparition {
    to {
        transform:translateX(0)
    }
}
.headerContainer {
    margin-bottom : 60px;
}
nav{
    width:75%;
    margin: auto;
    padding: 15px;
    // border: 1px solid black;
    background-color: black;
    border-top : 1px solid red;
    border-bottom : 1px solid red;
    transform: translateX(-100vw);
    animation: navApparition 600ms linear forwards;
    @media screen and (max-width:600px) {
        width: 85%;
    }
}
.nav {
    display: flex;
    justify-content: space-around;
    // border:1px solid purple;
    &__title{
        font-family: "Bad Script", Arial, Helvetica, sans-serif;
        font-size: 1.8em;
        color:wheat;
        text-shadow: red 1px 0 10px;
        animation: 1700ms ease-in-out titleDisplay forwards;
        // border: 1px solid red;
        cursor: pointer;
        opacity:0;
        transition: 500ms;
        &:hover{
            transform:scale(1.2);
        }
        @media screen and (max-width:500px) {
            font-size: 1.4em;
        }
    }
    @media screen and (max-width:400px) {
        flex-direction: column;
        text-align: center;
    }
}
.nav-icon{
    color:wheat;
    // border:1px solid yellowgreen;
    padding:30px;
    display: flex;
    justify-content: center;
    font-size: 2em;
    &__reactIcon{
        cursor: pointer;
        transform:scale(1);
        transition: 500ms;
        // border:1px solid blue;
        &:hover{
            transform: scale(1.3);
        }
    }
}


