//FONT
$bg-color: rgb(117, 7, 7);
$main-font-color:wheat;
//ICONS
$bandcamp:rgb(29,160,195);
$spotify:rgb(30, 215, 96);
$more-details:rgb(6, 185, 6);

//BORDER, TEXT & BOX SHADOWS
$text-shadow: red 1px 0 10px;
$box-shadow: 1px 1px 5px red;
$border: 1px solid wheat;
$nav-border:1px solid red;