.newsIntro, .bandsIntro, .showsIntro, .shopIntro, .contactIntro{
    padding: 10px;
    text-align: center;
    font-size: 2em;
    font-family: "Alegreya", Arial, Helvetica, sans-serif;
    text-shadow: red 1px 0 10px;
    border-bottom: 1px solid red;
    margin-bottom: 50px;
    height: 70px;
}