@import "./generalSettings/colors";
@import "./generalSettings/font";

.newsIntro, .bandsIntro, .showsIntro, .shopIntro, .contactIntro{
    padding: 10px;
    text-align: center;
    font-size: 2em;
    font-family: $text-and-titles;
    text-shadow: $text-shadow;
    border-bottom: $nav-border;
    margin-bottom: 50px;
    height: 70px;
}