@import "../generalSettings/animations";
@import "../generalSettings/font";
@import "../generalSettings/colors";
@import "../generalSettings/mixin";

.back{
    width:100%;
    display: flex;
    justify-content: center;
    padding: 30px 0px;
    opacity:0;
    animation: apparition 400ms linear forwards;
    &__toBands{
        padding: 10px 20px;
        @include buttonSettings;
        &:hover{
            cursor: pointer;
            transform: scale(1.1);
        }
    }
}
.band{
    color:$main-font-color;
    font-family: $text-and-titles;
    padding-bottom: 20px;
    // border:1px solid green;
    &__wrapper{
        border:$border;
        box-shadow: $box-shadow;
        border-radius: 2px;
        width:75%;
        margin: auto;
        padding:10px;
        opacity:0;
        animation: apparition 1.5s linear forwards;
        @media screen and (max-width:700px) {
            width:90%;
        }
        @media screen and (max-width:350px) {
            width:95%;
            padding:0px;
        }
    }
}
.releases{
    padding:30px;
    // border:1px solid blue;
    &__title{
        font-size: 1.3em;
        text-decoration: underline;
    }
    &__wrapper{
        width:100%;
        display: flex;
        flex-wrap: wrap;
        @media screen and (max-width:980px) {
            justify-content: center;
        }
    }
}
.merch{
    padding:30px;
    // border:1px solid red;
    &__title{
        font-size: 1.3em;
        text-decoration: underline;
    }
    &__wrapper{
        width:100%;
        display: flex;
        flex-wrap: wrap;
        @media screen and (max-width:980px) {
            justify-content: center;
        }
    }
}
