@keyframes releaseApparition {
    to{
        transform:translateY(0);
        opacity:1;
    }
}
@keyframes bandApparition{
    to{
        opacity:1;
    }
}
.back{
    width:100%;
    display: flex;
    justify-content: center;
    padding: 30px 0px;
    opacity:0;
    animation: bandApparition 800ms linear forwards;
    &__toBands{
        border: none;
        padding: 10px 20px;
        background-color: rgb(117, 7, 7);
        color: wheat;
        border-radius: 2px;
        transform: scale(1);
        transition:500ms;
        &:hover{
            cursor: pointer;
            transform: scale(1.1);
        }
    }
}
.band{
    color:wheat;
    padding-bottom: 20px;
    // border:1px solid green;
    &__wrapper{
        border: 1px solid wheat;
        box-shadow: 1px 1px 5px red;
        border-radius: 2px;
        width:75%;
        margin: auto;
        padding:10px;
        opacity:0;
        animation: bandApparition 1.5s linear forwards;
        @media screen and (max-width:700px) {
            width:90%;
        }
        @media screen and (max-width:350px) {
            width:95%;
            padding:0px;
        }
    }
    &__header{
        border: 1px solid wheat;
        background-repeat: no-repeat;
        height: 350px;
        border-radius: 2px 2px 0px 0px;
    }
    &__name{
        text-align: center;
        padding: 10px;
        font-size: 2em;
        text-shadow: red 1px 0 10px;
    }
    &__style{
        display: flex;
        flex-direction: column;
        padding: 10px;
        // border:1px solid blue;
    }
}
.bio{
    padding:0px 10px;
    &__content{
        padding:10px;
    }
    &__content--title{
        font-size: 1.3em;
        text-decoration: underline;
    }
}
.lineUp{
    padding:0px 10px;
    &__title{
        font-size: 1.3em;
        text-decoration: underline;
        padding:20px;
    }
    &__list{
        padding:0px 20px;
        // border:1px solid green;
        &__card{
            display: flex;
            // border:1px solid pink;
            &--role{
                display: flex;
            }
        }
    }
}
.releases{
    padding:20px;
    // border:1px solid red;
    &__title{
        padding:10px;
        font-size: 1.3em;
        text-decoration: underline;
    }
    &__list{
        display: flex;
        flex-wrap:wrap;
        // border:1px solid rgb(85, 150, 235);
        width: 100%;
        padding:0px 10px;
        @media screen and (max-width:580px) {
            justify-content: center;
        }
        &__card{
            padding: 10px;
            border:1px solid rgb(117, 7, 7);
            border-radius: 2px;
            box-shadow: 1px 1px 5px wheat;
            width:30%;
            margin-top: 20px;
            opacity:0;
            transform:translateY(-10vw);
            animation : releaseApparition 1s linear forwards;
            @media screen and (max-width:1100px) {
                width:40%;
            }
            @media screen and (max-width:900px) {
                width:50%;
            }
            @media screen and (max-width:580px) {
                width:100%;
            }
            &__imgContainer{
                width:200px;
                height:200px;
                margin: auto;
                transform: scale(1);
                transition: 400ms;
                &:hover{
                    cursor: pointer;
                    transform: scale(1.1);
                }
                @media screen and (max-width:350px) {
                    width: 150px;
                    height: 150px;
                }
                &__file{
                    width:100%;
                    height:100%;
                    object-fit: contain;
                }
            }
            &__infos{
                padding:10px 0px;
                font-size: 0.9em;
                &--title{
                    margin-bottom: 10px;
                    text-align: center;
                }
            }
            &__listen{
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: 1.1em;
                // border:1px solid green;
                &--youTube{
                    color:red;
                    transform: scale(1);
                    transition:300ms;
                    &:hover{
                        transform: scale(1.2);
                    }
                }
                &--bandCamp{
                    color:rgb(29,160,195);
                    transform: scale(1);
                    transition:300ms;
                    &:hover{
                        transform: scale(1.2);
                    }
                }
                &--seasonShop{
                    transform: scale(1);
                    transition:300ms;
                    &:hover{
                        transform: scale(1.2);
                        cursor: pointer;
                    }
                }
                &--spotify{
                    color: rgb(30, 215, 96);
                    transform: scale(1);
                    transition:300ms;
                    &:hover{
                        transform: scale(1.2);
                    }
                }

            }
        }
    }
}
.merch{
    padding:20px;
    // border:1px solid red;
    &__title{
        padding:10px;
        font-size: 1.3em;
        text-decoration: underline;
    }
    &__list{
        display: flex;
        flex-wrap:wrap;
        // border:1px solid rgb(85, 150, 235);
        width: 100%;
        padding:0px 10px;
        @media screen and (max-width:580px) {
            justify-content: center;
        }
        &__card{
            padding: 10px;
            border:1px solid rgb(117, 7, 7);
            border-radius: 2px;
            box-shadow: 1px 1px 5px wheat;
            width:30%;
            margin-top: 20px;
            opacity:0;
            transform:translateY(-10vw);
            animation : releaseApparition 1s linear forwards;
            @media screen and (max-width:1100px) {
                width:40%;
            }
            @media screen and (max-width:900px) {
                width:50%;
            }
            @media screen and (max-width:580px) {
                width:100%;
            }
            &__imgContainer{
                width:200px;
                height:200px;
                margin: auto;
                transform: scale(1);
                transition: 400ms;
                &:hover{
                    cursor: pointer;
                    transform: scale(1.1);
                }
                @media screen and (max-width:350px) {
                    width: 150px;
                    height: 150px;
                }
                &__file{
                    width:100%;
                    height:100%;
                    object-fit: contain;
                }
            }
            &__infos{
                padding:10px 0px;
                font-size: 0.9em;
                &--title{
                    margin-bottom: 10px;
                    text-align: center;
                }
            }
            &__shop{
                display: flex;
                justify-content: flex-end;
                &--linkToBuy{
                    font-size:1.1em;
                    transform: scale(1);
                    transition:300ms;
                    &:hover{
                        transform: scale(1.2);
                        cursor: pointer;
                    }
                }
            }
        }
    }
}
