@import "../generalSettings/animations";
.host{
    height:600px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    // border:1px solid red;
    &__bgImgCont{
        width:40%;
        outline: none;
        border: none;
        object-fit: contain;
        // border:1px solid green;
        cursor: pointer;
        transform:scale(1);
        transition: 500ms;
        &:hover{
            transform:scale(1.1);
        }
        @media screen and (max-width:700px) {
            width:50%;
        }
        @media screen and (max-width:550px) {
            width:60%;
        }
        @media screen and (max-width:400px) {
            width:75%;
        }
        &__video{
            // border:1px solid yellow;
            opacity: 0;
            width:100%;
            animation: apparition 1.5s linear forwards;
        }
    }
    
}