@import "../generalSettings/animations";
@import "../generalSettings/font";
@import "../generalSettings/colors";

//REMOVE NATURAL STYLE FROM A TAG
a{
    text-decoration-line: unset;
    color: unset;
}
//STYLE TO MAIN CONTAINER TAGS
.news{
    color:$main-font-color;
    font-family: $text-and-titles;
    // border: 1px solid yellow;
    width:75%;
    padding-bottom:20px;
    margin: auto;
    @media screen and (max-width:1370px) {
        width:90%;   
    }
    @media screen and (max-width:900px) {
        width:95%;  
    }
    &__wrapper{
        width:auto;
    };
};
//STYLE BY DEFAULT TO IMAGES
img {
    width:100%;
    height:100%;
    object-fit: cover;
}
.newsCard{
    display: flex;
    justify-content: space-between;
    align-items: center;
    // height:280px;
    border: $border;
    box-shadow: $box-shadow;
    border-radius: 2px;
    margin-top:20px;
    opacity:0;
    animation: apparition 600ms linear forwards;
    @media screen and (max-width:900px) {
        height:auto;
        flex-direction: column; 
        align-items: center;
    }
    &__imgContainer{
        padding: 10px;
        width:250px;
        height:250px;
    }
    &__container{
        width:80%;
        display: flex;
        flex-direction: column;
        // border:1px solid green;
        @media screen and (max-width:900px) {
            width:100%; 
        }
        &__header{
            display: flex;
            justify-content: space-between;
            padding: 10px;
            @media screen and (max-width:900px) {
                flex-direction: column;
                justify-content: unset;
                text-align: center;
            }
            &--bandName{
                font-size: 1.4em;
                text-shadow: $text-shadow;
                transform: scale(1);
                transition:300ms;
                display: flex;
                align-items: center;
                &:hover{
                    transform: scale(0.9);
                    cursor: pointer;
                }
                @media screen and (max-width:900px) {
                    padding: 10px;
                    justify-content: center;
                }
            }
        }
        &__title{
            display: flex;
            padding: 10px;
            font-size: 0.9em;
            // border:1px solid red;
            &--icon{
                display: flex;
                align-items: center;
                margin-right: 20px;
            }
            @media screen and (max-width:900px) {
                justify-content: center;
            }
        }
        &__article{
            padding: 10px;
            overflow-wrap: break-word;
            height : 130px;
            font-size: 0.9em;
            @media screen and (max-width:1200px) {
                font-size: 0.8em;
            }
            @media screen and (max-width:900px) {
                height:auto;
                font-size: 0.7em;
            }
        }
        &__listen{
            // border:1px solid green;
            display: flex;
            align-items: center;
            &__container{
                padding:10px;
                display: flex;
                align-items: center;
                &--title{
                    font-size: 0.8em;
                }
                &--youTube{
                    color:red;
                    display: flex;
                    align-items: center;
                    font-size: 1.1em;
                    padding-left: 10px;
                    transform:scale(1);
                    transition:300ms;
                    &:hover{
                        transform:scale(0.9);
                    }
                }
                &--bandCamp{
                    color:$bandcamp;
                    display: flex;
                    align-items: center;
                    font-size: 1.1em;
                    padding-left: 10px;
                    transform:scale(1.1);
                    transition:300ms;
                    &:hover{
                        transform:scale(0.9);
                    }
                }
                &--spotify{
                    color: $spotify;
                    display: flex;
                    align-items: center;
                    font-size: 1.1em;
                    padding-left: 10px;
                    transform:scale(1.1);
                    transition:300ms;
                    &:hover{
                        transform:scale(0.9);
                    }
                }
                &--seasonShop{
                    display: flex;
                    align-items: center;
                    font-size: 1.1em;
                    padding-left: 10px;
                    transform:scale(1.1);
                    transition:300ms;
                    &:hover{
                        transform:scale(0.9);
                    }

                }
            }
        }
    }
}


