@keyframes showsApparition{
    to{
        opacity:1;
    }
}
.shows{
    color:wheat;
    width:75%;
    margin: auto;
    @media screen and (max-width:900px) {
        width:95%;
    }
}
.showsList{
    opacity:0;
    animation: showsApparition 1.5s linear forwards;
}
.allShows{
    // border:1px solid green;
    margin-top:20px;
    &__bandName-container{
        margin-bottom: 10px;
        display: flex;
        &--name{
            font-size: 1.4em;
            text-shadow: red 1px 0 10px;
            transform: scale(1);
            transition: 300ms;
            // border:1px solid yellow;
            &:hover{
                transform: scale(1.1);
                cursor: pointer;
            }
        }
        
    }
    &__table{
        width:100%;
        font-size: 0.9em;
        // border:1px solid red;
        border-collapse: collapse;
        &__titles{
            &--date,&--event,&--where,&--country,&--moreDetails{
                padding:10px;
                border:1px solid white;
                text-align: center;
                color:red;
                @media screen and (max-width:500px) {
                    font-size: 0.8em;
                    padding: 5px;
                }
            }
        }
        &__infos{
            &--date,&--event,&--where,&--country,&--moreDetails{
                padding:10px;
                border:1px solid white;
                @media screen and (max-width:700px) {
                    font-size: 0.8em;
                }
                @media screen and (max-width:500px) {
                    font-size: 0.7em;
                    padding: 5px;
                }
            }
            &--moreDetails{
                text-align: center;
                color:rgb(6, 185, 6);
                font-size: 1.2em;
                transform: scale(1);
                transition: 300ms;
                &:hover{
                    transform: scale(1.1);
                    cursor: pointer;
                }
            }
        }
    }
}