@keyframes filtersApparition{
    to{
        transform: translateY(0);
        opacity:1;
    }
}
@keyframes inputApparition{
    to{
        transform:translateX(0);
        opacity:1;
    }
}
.choice_container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width:100%;
    border:1px solid rgb(117, 7, 7);
    border-radius: 2px;
    padding: 5px 10px;
}
.sort{
    width:100%;
    // border:1px solid yellow;
}
.sort{
    width: 100%;
    display: flex;
    flex-direction: column;
    // border:1px solid green;
    &__list{
        transform: translateY(-20%), scale(1);
        opacity:0;
        animation: filtersApparition 500ms linear forwards;
        background-color: wheat;
        font-family: "Alegreya", Arial, Helvetica, sans-serif;
        font-weight: bold;
        color:rgb(117, 7, 7);
        border-radius: 3px;
        padding: 5px;
        transition: 250ms;
        width:10%;
        &:hover{
            cursor: pointer;
        }
        &:active{
            background-color: rgb(117, 7, 7);
            color: wheat;
        }
        @media screen and (max-width: 560px) {
            width:15%;
        }
        @media screen and (max-width: 350px) {
            width:20%;
        }
        &__options{
            display: flex;
            flex-direction: column;
            padding-left: 15px;
            width:12%;
            @media screen and (max-width: 1200px) {
                width:20%;
            }
            @media screen and (max-width: 820px) {
                width:30%;
            }
            @media screen and (max-width: 560px) {
                width:45%;
            }
            @media screen and (max-width: 350px) {
                width:55%;
            }
            &__input{
                background-color: wheat;
                font-family: "Alegreya", Arial, Helvetica, sans-serif;
                font-weight: bold;
                color:rgb(117, 7, 7);
                border-radius: 3px;
                margin-top: 5px;
                transform:translateX(-20%);
                opacity:0;
                animation: inputApparition 300ms linear forwards;
                &:hover{
                    cursor: pointer;
                }
                &:active{
                    background-color: rgb(117, 7, 7);
                    color: wheat;
                }
            }
            &__style{
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                // border:1px solid pink;
                &__input{
                    background-color: wheat;
                    font-family: "Alegreya", Arial, Helvetica, sans-serif;
                    font-weight: bold;
                    color:rgb(117, 7, 7);
                    border-radius: 3px;
                    margin-top: 5px;
                    width:80%;
                    transform:translateX(-20%);
                    opacity:0;
                    animation: inputApparition 300ms linear forwards;
                    &:hover{
                        cursor: pointer;
                    }
                    &:active{
                        background-color: rgb(117, 7, 7);
                        color: wheat;
                    }
                }
            }
        }
    }
}
.shop{
    color:wheat;
    font-family: "Alegreya", Arial, Helvetica, sans-serif;
    // border:1px solid green;
    width:75%;
    margin:auto;
    @media screen and (max-width: 510px) {
        width:85%;
    }
    &__wrapper{
        display: flex;
        flex-direction: column;
        padding-bottom: 20px;
        // border: 1px solid red;
        &__options{
            // border:1px solid yellow;
            flex-direction: column;
            display: flex;
            align-items: center;
            width:100%;
            &--music, &--merch{
                // border:1px solid green;
                opacity:0;
                transform: translateY(-20%);
                animation: filtersApparition 500ms linear forwards;
                font-size: 1.2em;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding:10px 0px;
                width: 12%;
                @media screen and (max-width:1210px) {
                    width:20%;
                }
                @media screen and (max-width:800px) {
                    width:35%;
                }
                @media screen and (max-width:400px) {
                    width:55%;
                }
                @media screen and (max-width:260px) {
                    width:75%;
                }
            }
            &--music #music, &--merch #merch{
                display: flex;
                align-items: center;
                cursor: pointer;
            }
            &--music label, &--merch label {
                display: flex;
                @media screen and (max-width:1000px) {
                    padding-left: 10px;
                }
            }
            &--music span, &--merch span {
                // border:1px solid blueviolet;
                display: flex;
                align-items: center;
                padding-left: 10px;
                font-size: 0.7em;
            } 
            &__filters{
                font-family: "Alegreya", Arial, Helvetica, sans-serif;
                font-size: 1.1em;
                width:12%;
                padding:10px;
                margin-bottom:5px;
                background-color: rgb(117, 7, 7);
                color: wheat;
                border-radius: 2px;
                transform: scale(1);
                transition:500ms;
                border: none;
                &:hover{
                    cursor: pointer;
                    transform: scale(1.1);
                }
                @media screen and (max-width: 1210px) {
                    width:20%;
                }
                @media screen and (max-width:800px) {
                    width:35%;
                }
                @media screen and (max-width:400px) {
                    width:55%;
                }
                @media screen and (max-width:260px) {
                    width:75%;
                }
            }
        }
        &__item{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            width:100%;
            @media screen and (max-width: 865px) {
                justify-content: center;
            }
        }
    }
}
