@keyframes filtersApparition{
    to{
        transform: translateY(0);
        opacity:1;
    }
}
.shop{
    color:wheat;
    // border:1px solid green;
    width:75%;
    margin:auto;
    @media screen and (max-width: 510px) {
        width:85%;
    }
    &__wrapper{
        display: flex;
        flex-direction: column;
        padding-bottom: 20px;
        // border: 1px solid red;
        &__options{
            // border:1px solid yellow;
            flex-direction: column;
            display: flex;
            align-items: center;
            width:100%;
            &--music, &--merch{
                opacity:0;
                transform: translateY(-20%);
                animation: filtersApparition 500ms linear forwards;
                font-size: 1.2em;
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                padding:10px 0px;
                width: 12%;
            }
            &--music > #music, &--merch > #merch{
                display: flex;
                align-items: center;
                cursor: pointer;
            }
            &--music > label, &--merch > label {
                display: flex;
                @media screen and (max-width:1000px) {
                    padding-left: 10px;
                }
            }
            &--music span, &--merch span {
                // border:1px solid blueviolet;
                display: flex;
                align-items: center;
                padding-left: 10px;
                font-size: 0.7em;
            } 
            &__filters{
                width:12%;
                padding:10px;
                margin-bottom:5px;
                background-color: rgb(117, 7, 7);
                color: wheat;
                border-radius: 2px;
                transform: scale(1);
                transition:500ms;
                border: none;
                &:hover{
                    cursor: pointer;
                    transform: scale(1.1);
                }
                @media screen and (max-width: 650px) {
                    width:20%;
                }
            }
        }
    }
}
